openapi: 3.1.0
info:
  title: GitHub Repo Assistant
  description: Browse, edit, branch, and create pull requests in your GitHub repositories.
  version: 1.3.0
servers:
  - url: https://api.github.com
    description: GitHub REST API
paths:
  /user/repos:
    get:
      operationId: listMyRepos
      summary: List repositories for the authenticated user
      responses:
        "200":
          description: A list of repositories
          content:
            application/json
              schema:
                type: array
                items: 
                  type: object
  /repos/{owner}/contents/{path}:
    get:
      operationId: getFileContent
      summary: Get the content of a file in a repository
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: File content
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  path:
                    type: string
                  sha:
                    type: string
                  type:
                    type: string
                  content:
                    type: string
                  encoding:
                    type: string
components:
  securitySchemes:
    OAuth2Scheme:
      type: oauth2
      flows: 
        authorizationCode:
          authorizationUrl: https://github.com/login/oauth/authorize
          tokenUrl: https://github.com/login/oauth/access_token
          scopes:
            repo: "Full control of private repositories"
  schemas: {}
security:
  - OAuth2Scheme:
    - repo
